{% extends "layout.html" %}
{% block body %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('https://cdn.wallpapersafari.com/81/89/O0cBIs.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>I am a second year undergraduate student currently pursuing my Bachelors in Artificial Intelligence and Data Science from Mumbai University. I'm passionate and determined to learn and explore various trends and technologies and eventually contribute to our society.</p>
                        <p>I'm currently exploring the world of Artificial Intelligence and web development.</p>
                        <p>Skills: Python, C, MySQL, HTML, CSS, Flask.</p>
                        <p>My work areas: Machine learning, Web Development</p>
                    </div>
                </div>
            </div>
        </main>
        {% endblock %}
