
{% extends "layout.html" %}
{% block body %}
<!-- Navigation-->
     <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1497032628192-86f99bcd76bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8d29ya3xlbnwwfHwwfHw%3D&w=1000&q=80')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Edit Panel</h1>
                            <span class="subheading">Edit your posts or add new ones</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
<div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <form name="editForm" id="editForm" action = "/edit/{{sno}}" method="post" novalidate>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Title</label>
                <input type="text" class="form-control"  id="title" name='title' required data-validation-required-message="Please enter your Title." value="{{post.title}}">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Tagline</label>
                <input type="text" class="form-control"  id="tag_line" name="tag_line" required data-validation-required-message="Please enter your Tagline." value="{{post.tag_line}}">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group col-xs-12 floating-label-form-group controls">
                <label>Slug</label>
                <input type="text" class="form-control"  name="slug" id="slug" required data-validation-required-message="Please enter the slug." value="{{post.slug}}">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Content</label>
                <textarea rows="5" class="form-control"  name = "content" id="content" required data-validation-required-message="Please enter the content.">{{post.content}}</textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Image URL</label>
                <input type="text" class="form-control"  id="img_url" name='img_url' required data-validation-required-message="Please enter the image URL." value="{{post.img_url}}">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Name</label>
                <input type="text" class="form-control"  id="name" name='name' required data-validation-required-message="Please enter your name." value="{{post.name}}">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" id="sendMessageButton">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>


   {% endblock %}
